html {
  font-family: 'Lilita One', sans-serif;
  color: white;
  font-size: 16px;
}

body {
  margin: unset;
  background-color: var(--dark-color1);
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: var(--dark-color1);
}

main {
  position: relative;
  width: 355px;
  margin: auto;
  padding-block: 10px;

  border-radius: 10px;
  background-color: var(--dark-color2);
}

button {
  cursor: pointer;
}
