html {
  font-family: Impact, sans-serif;
  color: white;
}

body {
  margin: unset;
  background-color: var(--dark-color2);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}

button {
  cursor: pointer;
}
