.gallery-container {
  position: relative;
  margin-inline: 15px;
  user-select: none;
}

.gallery-container button {
  width: 100%;

  padding: 5px;
  margin-block-end: 20px;
  border-radius: 10px;
  border: 1px solid #22252c;
  background-image: var(--gradient);
  font-family: 'Lilita One', sans-serif;
  color: white;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--dark-color1);
  font-size: 1.4375em;
  transition: 0.2s;
}

.gallery-container button:hover {
  scale: 1.02;
}
