header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  padding: 0.625em;

  background-image: var(--gradient);
  box-shadow: 1px 5px 7px 0px rgba(0, 0, 0, 0.61);
  z-index: 10;
}

header h1 {
  margin: unset;
  font-size: 1.5625em;
  transition: 0.2s;
}

header h1:hover {
  filter: brightness(80%);
}

#menu {
  list-style-type: none;
}

#menu li {
  letter-spacing: 0.1rem;
}

#menuToggle a {
  text-decoration: none;
  color: #fff;
  transition: 0.1s;
}

#menuToggle a:hover {
  filter: brightness(80%);
}
