.editor-container {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  box-sizing: border-box;
  padding-block: 10px;
  overflow-y: auto;

  background-color: var(--dark-color2);
}

.canvas-container {
  width: 95%;
  margin: 40px auto;
  background-color: #00a5af;
}

.canvas-container,
canvas {
  border-radius: 10px;
  border: 1px solid #00a5af;
}

canvas {
  background-color: white;
  cursor: grab;
}

.editor-container .close-btn {
  position: absolute;
  left: 10px;
  width: 30px;
  transition: 0.2s;
}

.export-container {
  text-align: center;
}

.export-container * {
  margin-inline: 10px;
}

.export-container img {
  width: 30px;
  transition: 0.2s;
}

.editor-container .stroke-picker-container {
  position: relative;
}

.editor-container .fa-underline {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.875em;
  transition: 0.2s;
}

.editor-container .stroke-input {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  opacity: 0;
}

.editor-container .color-picker-container {
  position: relative;
}

.editor-container .fa-palette {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  font-size: 1.875em;
  transition: 0.2s;
}

.editor-container .color-input {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 100%;
  opacity: 0;
}

.text-edit-container img {
  width: 35px;
}

.text-edit-container {
  width: 80%;
  max-width: 500px;

  background-color: #00a5af;
  margin: auto;
  margin-block-end: 35px;
  padding: 10px;
  border-radius: 10px;
}

.text-edit-container * {
  justify-self: center;
  transition: 0.2s;
}

.meme-text-container {
  width: 100%;
  text-align: center;
  margin-block-end: 35px;
}

.meme-text-input {
  margin-inline: 10px;
  padding: 5px 10px;

  border: 1px solid #22252c;
  border-radius: 10px;
}

.text-change-container {
  margin-block-end: 35px;
  text-align: center;
}

.text-change-container img {
  width: 35px;
  margin-inline: 7px;
}

.font-family-select {
  width: 100%;
  padding: 8px;
  font-size: 1.0625em;

  border-radius: 10px;
  border: 1px solid #22252c;
  background-color: var(--dark-color1);
  color: #00b48e;
  cursor: pointer;
}

.text-change-container * {
  transition: 0.2s;
}
