.editor-container {
  position: fixed;
  top: 56px;
  left: 0;
  width: 100%;
  height: calc(100vh - 55px);
  box-sizing: border-box;
  padding-block: 10px;

  background-color: var(--dark-color2);
}

.canvas-container {
  width: 95%;
  margin: 40px auto;
  background-color: #e7bcde;
}

.canvas-container,
canvas {
  border-radius: 10px;
  border: 1px solid #bb9cc0;
}

canvas {
  background-color: white;
  cursor: grab;
}

.editor-container .close-btn {
  position: absolute;
  left: 10px;
  width: 30px;
  transition: 0.2s;
}

.export-container {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
}

.editor-container .download-btn {
  width: 30px;
  transition: 0.2s;
}

.editor-container .color-picker-container {
  position: relative;
  display: inline-block;
}

.editor-container .fa-palette {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 1.875em;
  transition: 0.2s;
}

.editor-container .color-input {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.text-edit-container img {
  width: 35px;
  margin-inline: 7px;
}

.text-edit-container {
  display: grid;
  grid-auto-flow: column;
  width: 80%;

  margin: auto;
  margin-block-start: 15px;
}

.text-edit-container * {
  justify-self: center;
  transition: 0.2s;
}

.meme-text-container {
  width: 100%;
  text-align: center;
}

.meme-text-input {
  margin-inline: 10px;
  padding: 5px 10px;

  border: 1px solid #22252c;
  border-radius: 10px;
}
