@media (min-width: 600px) {
  .canvas-container {
    width: 500px;
  }

  header h1 {
    font-size: 2.1875em;
  }

  .editor-container {
    top: 60px;
    height: calc(100vh - 60px);
  }
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }

  main {
    width: 750px;
    min-height: calc(100vh - 67.5px - 43.5px - 15px - 31.6px);
  }

  .memes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .editor-container {
    top: 67.5px;
    height: calc(100vh - 67.5px);
  }
}

@media (min-width: 1024px) {
  main {
    width: 950px;
  }

  .opened-editor {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 20px;

    padding-inline: 50px;
  }

  .editor-container .close-btn {
    top: 10px;
  }

  .canvas-container {
    width: 600px;
    margin: unset;
    justify-self: center;
  }

  .text-edit-container {
    width: unset;
    max-width: 500px;
  }

  .emoji-btn {
    font-size: 1.5em;
  }
}
