@media (min-width: 600px) {
  .canvas-container {
    width: 500px;
  }
}

@media (min-width: 800px) {
  main {
    width: 750px;
  }

  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  main {
    width: 950px;
  }

  .canvas-container {
    width: 600px;
  }
}
