@media (min-width: 600px) {
  .canvas-container {
    width: 500px;
  }

  header h1 {
    font-size: 2.1875em;
  }

  .editor-container {
    top: 60px;
    height: calc(100vh - 60px);
  }
}

@media (min-width: 800px) {
  html {
    font-size: 18px;
  }

  main {
    width: 750px;
  }

  .memes-container {
    grid-template-columns: repeat(3, 1fr);
  }

  .editor-container {
    top: 67.5px;
    height: calc(100vh - 67.5px);
  }
}

@media (min-width: 1024px) {
  main {
    width: 950px;
  }

  .canvas-container {
    width: 600px;
  }
}
